body{
    
     font-family: Georgia, 'Times New Roman', Times, serif;
     background-color: greenyellow;
     font-weight: 100;
}


.cabecalho{
     color: rgb(13, 14, 14);
     font-size: 100px;
     padding: 30px;
     border-bottom: 5px solid black;
     text-align: center;
  
}

.cabecalho2{
     background-color: rgb(19, 182, 44);
     color: rgb(8, 8, 8);
     padding: 10px;
     border: 5px solid rgb(22, 21, 21);
     border-radius: 20px;
}

.IMG{
     text-align: center;
}



.receita{

     text-align: right
    
}

.subtitulo{
     text-align: center;
     font-size: 60px;

}

.texto{
     text-align: center;
     font-size: 30px;
}

table{
     display: flex;
     justify-content:left;
}

.ing{
     color: rgb(25, 26, 26);
     font-size: 50px;
}
 .lista1{
     font-size: 30px;
     background-color: #1dab7c;
     color: rgb(24, 23, 23);
     padding: 25px;
     border-top: 5px solid rgb(13, 191, 55);
     border-right: 5px solid rgb(13, 191, 55);
     border-bottom: 5px solid rgb(13, 191, 55);
     border-left: 5px solid rgb(13, 191, 55);
    }

.preparo{
     font-size:large
   
}

.letra{
     margin-left: 250px;
     font-size: 60px;
}

.letra1{
     margin-left: 250px;
     margin-bottom: 250px;
     color: #171817;
     font-size: 40px;
    
    

}
